@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* padding-top: -30; */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #303030;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-size: 7rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #2d02a59c;
        text-shadow: 0 0 12px #f1eeee, 0 0 50px #b6b3b3, 0 0 100px #f5f4f4;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }
    .description{
        font-size: 2rem;
    }
    
    .button a{
        font-size: 1rem;
    }
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente */
    height: 100vh;           /* Utiliza toda la altura de la ventana */
    margin: 0;               /* Elimina los márgenes predeterminados */
}

/* Estilo del botón */
.continuar-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Efecto cuando se pasa el ratón por encima */
.continuar-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Efecto cuando se hace clic en el botón */
.continuar-btn:active {
    background-color: #004085;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}